// Basics
$white:							#ffffff;
$black:							#000000;
$off-white:						#f7f7f7;

// Base
$base-background:				#ffffff !default;
$base-text-color:				#888888 !default;
$base-border-color:				#8a8a8a !default;

// Accents
$accent-color-1:				#ec4345 !default;
$accent-color-2:				#5454ce !default;
$accent-color-3:				#a50303 !default;

// Page Surround
$pagesurround-background: 		$base-background !default;

// Top
$top-background:				#ffffff !default;
$top-text-color:				#a8a8a8 !default;

// Header
$header-background:				#ffffff !default;
$header-text-color:				#212121 !default;

// Navigation
$navigation-background:			#ffffff !default;
$navigation-text-color:			#a8a8a8 !default;

// Slideshow
$slideshow-background:			#ffffff !default;
$slideshow-text-color:			#212121 !default;

// Showcase
$showcase-background:			#ffffff !default;
$showcase-text-color:			#999999 !default;

// Utility
$utility-background:			#111111 !default;
$utility-text-color:			#999999 !default;

// Above
$above-background:				#080808 !default;
$above-text-color:				#efefef !default;

// Feature
$feature-background:			#111111 !default;
$feature-text-color:			#999999 !default;

// Main
$main-background:				#ffffff !default;
$main-text-color:				#686868 !default;

// Expanded
$expanded-background:			#ec4345 !default;
$expanded-text-color:			#ffffff !default;

// Extension
$extension-background:			#ffffff !default;
$extension-text-color:			#686868 !default;

// Bottom
$bottom-background:				#ffffff !default;
$bottom-text-color:				#686868 !default;

// Footer
$footer-background:				#383838 !default;
$footer-text-color:				#ffffff !default;

// Copyright
$copyright-background:			#ffffff !default;
$copyright-text-color:			#686868 !default;

// Off Canvas
$offcanvas-background:			#ec4345 !default;
$offcanvas-text-color:			#ffffff !default;
$offcanvas-toggle-color:		#ffffff !default;

// Block Variations
$box1-background:				$accent-color-1 !default;
$box2-background:				$accent-color-2 !default;
$box3-background:				#111111 !default;
$box4-background:				darken($base-background, 15%) !default;
$box-white-background: 			#ffffff !default;
$box-grey-background: 			#95a5a6 !default;
$box-darkgrey-background: 		#282828 !default;
$box-pink-background: 			#d13b7b !default;
$box-red-background: 			#ef4a44 !default;
$box-purple-background: 		#874f9a !default;
$box-blue-background: 			#279fba !default;
$box-orange-background: 		#ee7933 !default;

// Mobile Menu Sidepanel
$mobilemenu-background:			#354d59 !default;

// System Messsages and Alerts
$warning-color:					#c09853;
$error-color:					#b94a48;
$info-color:					#3a87ad;
$success-color:					#468847;

// Typography
$rule-color:					fadeout($base-text-color, 75%);
$code-text:						#c7254e;
$code-bg:						#f9f2f4;
$pre-text:						#237794;
$pre-bg:						#f6f6f6;

// Borders
$border-color-hover:			$accent-color-1;
$border-color-focus:			$accent-color-1;
$border-color-light:            rgba(0, 0, 0, 0.1);

// Shadows
$base-box-shadow: 				inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
