#g-copyright {
	background: $copyright-background;
	color: $copyright-text-color;	
	text-align: center;
	// Container
	.g-container {
		border-top: 5px solid $accent-color-1;
	}
	// Accent Color
	a {
		color: $copyright-text-color;
		&:hover {
			color: $accent-color-1;
		}
	}
	// Copyright Content
	.g-copyright > .g-content {
		font-size: $core-font-size - 0.2;
		line-height: 1.8;	
		@include breakpoint(small-mobile-range) {
			padding: 0;
		}			
	}
}

@media print {
	#g-copyright {
		background: #fff !important;
		color: #000 !important;
	}
}