#g-expanded {
    background: $expanded-background;
    color: $expanded-text-color;   
	@if $expanded-background-image {
    	background: $expanded-background url($expanded-background-image) center no-repeat;
    	background-size: cover;
	} 

	// g-title
	.g-title {
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		&:before {
			background: $white;
		}
	}

	// g-subpromo
	.g-subpromo {
		padding: 3.5rem 0 8rem 0;
	}
}

@media print {
	#g-expanded {
		background: #fff !important;
		color: #000 !important;
	}
}