textarea, select[multiple=multiple] {
	background-color: white;
	border: 2px solid lighten($base-border-color, 25%);
	box-shadow: $base-box-shadow;

	&:hover {
		border-color: $border-color-hover;
	}

	&:focus {
		border-color: $border-color-focus;
	}
}
textarea {
	width: 100%;
	@include box-sizing(border-box !important);
}

fieldset.input {
	margin: 0;
	padding: 0;
}

#{$all-text-inputs} {
	background-color: white;
	vertical-align: middle;
	border: 2px solid lighten($base-border-color, 25%);
	box-shadow: $base-box-shadow;
	font-size: $core-font-size;
	width: 100%;
	line-height: $core-line-height;
	@include transition(border-color 0.2s);
}

#{$all-text-inputs-hover} {
	border-color: $border-color-hover;
}

#{$all-text-inputs-focus} {
	border-color: $border-color-focus;
}