%item-container {
	font-size: $core-font-size - 0.1;
	font-weight: bold;
	padding: $content-padding/4 $content-padding/2;
	white-space: nowrap;
	@include transition(0.35s ease);
}

%dropdown-column {
	width: $menu-col-width;
	float: left;
}

// Main Nav
.g-main-nav {
    z-index: 20;
	.g-standard {
		.g-dropdown {
	    	@extend %dropdown-column;
	    }
	}
	.g-toplevel {

		> li {

			> .g-menu-item-container {
				line-height: 1;
				@extend %item-container;
				text-transform: uppercase;
			}

			> .g-menu-item-container {
				> .g-menu-item-content {
					line-height: normal;
				}
			}

			&.g-parent .g-menu-parent-indicator:after {
				width: 1rem;
			}
		}

		i {
			opacity: 0.6;
		}
	}

	.g-standard > .g-dropdown, .g-fullwidth > .g-dropdown {
		&:before {
			top: -6px !important;
		}
		.g-dropdown {
			top: -2px;
		}
	}

	.g-dropdown {
		text-align: left;
		border-radius: $border-radius;
		.dir-rtl & {
			text-align: right;
		}
	}

	.g-sublevel {
		> li {
			margin: 0 $content-margin/2;
			padding: $content-padding/3 0;
			> .g-menu-item-container {
				line-height: normal;
				@extend %item-container;
				font-weight: normal;
                > .g-menu-item-content {
                    vertical-align: top;
                }
			}
    		&.g-parent {
	    		.g-menu-parent-indicator {
	    			right: $content-padding - 0.3;
	    			top: 0;
	    			margin-top: -0.65rem;
				}
			}
		}
	}
}

// Subtitle
.g-menu-item-subtitle {
	opacity: 0.7;
}

// Dropdown Side Offsets
@include dropdown-offset-x(10px, left);

// Dropdown Top Offsets
@include dropdown-offset-y(5px);

// Nav Overlay
.g-nav-overlay, .g-menu-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.g-menu-overlay.g-menu-overlay-open {
    z-index: 19;
}

// Touch Device
.g-menu-hastouch {
	.g-standard, .g-fullwidth {
		.g-toplevel {
			> li {
				&.g-menu-item-link-parent {
					> .g-menu-item-container {
						> .g-menu-parent-indicator {
							border-radius: $core-border-radius;
							margin: -0.2rem 0 -0.2rem 0.5rem;
							padding: 0.2rem;
						}
					}
				}
			}
		}
		.g-sublevel {
			> li {
				&.g-menu-item-link-parent {
					> .g-menu-item-container {
						> .g-menu-parent-indicator {
							border-radius: $border-radius;
							padding: 0.1rem;
							margin-top: -0.1rem;
							margin-right: -0.1rem;
						}
					}
				}
			}
		}
	}
}
