.g-newsletter {
	.g-newsletter-form {
		white-space: nowrap;
	}
	.g-newsletter-headtext {
		margin-bottom: 1.5rem;
	}
	.g-newsletter-inputbox,
	.g-newsletter-button {
	    height: 50px;
	}	
	.g-newsletter-inputbox {
		border-radius: $border-radius;
		color: darken($base-text-color, 25%);
		background: lighten($base-text-color, 40%);
		border: 1px solid $rule-color;
		display: inline-block;
		padding: 0.7rem 1.25rem;
		width: 73%;
		margin-right: 0.25rem;
		vertical-align: top;
		box-shadow: none;
	}
	.g-newsletter-button {
		width: 25%;
		padding-left: inherit;
		padding-right: inherit;
	}
}